.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.niceButton {
    display: inline-block;
    padding: 12px 22px;
    width: 80%;
    margin: 10px auto;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(16, 185, 214);
    border: none;
    border-radius: 15px;
    box-shadow: 0 3px #999;
}
.niceButton:hover {
    background-color: #1795bb;
}
.niceButton:active {
    background-color: #1795bb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
